.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-space: 9px;
  --search-btn-width: 52px;

  height: var(--default-layout-header-height, 60px);
  width: 100%;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  font-family: 'ProximaNova', 'Arial', 'Tahoma', 'PingFangSC', 'sans-serif';
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 20px;
}

.logo {
  width: 300px;
  height: 42px;
}

.search-result,
.search {
  width: 361px;
}

.search {
  height: var(--search-height);
  padding-left: 16px;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  display: flex;
  position: relative;
  border: 1.5px solid transparent;

  input {
    flex: 1;
    height: 100%;
    color: var(--black);
    font-size: 1.6rem;
    background-color: transparent;
    caret-color: var(--primary);
    font-family: ProximaNova;
    font-weight: 400;
    margin-left: -1.5px;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  &::after {
    content: '';
    position: absolute;
    top: calc(var(--search-top-space) - 2px);
    right: calc(var(--search-btn-width) - 1px);
    width: 1px;
    height: calc(100% - var(--search-top-space) * 2 + 2px);
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.search-title {
  display: flex;
  padding: 5px 12px;
  font-weight: 600;
}

.clear,
.loading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(var(--search-btn-width) + 16px);
  color: rgba(22, 24, 35, 0.34);
}

.search-btn {
  width: var(--search-btn-width);
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);
  padding: 9px 16px 11px 13px;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
.actions {
  display: flex;
  align-items: center;

  .icon {
    padding-left: 14px;
    padding-top: 4px;
    margin-right: -1px;
    margin-left: 1px;
  }
}

.more {
  height: 20px;
  width: 20px;
  margin-left: 16px;
  padding: 0 4px;
  cursor: pointer;
}

// User
.current-user {
  display: flex;
}

.user-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-left: 24px;
}
